.div {
    background-color: white;
    width: 100vw;
    height: 60vh;
    border-radius: 50px 50px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}